@model Employe

<h2>Modifier Employe</h2>

<form asp-action="Edit" method="post">

    
<div class="form-group">		
<label asp-for="Nom" class="control-label">Nom : </label> 			
<input value="@Model.Nom" asp-for="Nom" class="form-control" />			
<span asp-validation-for="Nom" class="text-danger"></span>			
</div><br/>		
<div class="form-group">		
<label asp-for="Date_naissance" class="control-label">Date_naissance : </label> 			
<input value="@Model.Date_naissance" asp-for="Date_naissance" class="form-control" />			
<span asp-validation-for="Date_naissance" class="text-danger"></span>			
</div><br/>		
    <br/>
    <div class="form-group">
        <input type="hidden" asp-for="Id" value="@Model.Id"/>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </div>
</form>

